.news-keywords {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 16px;

	.keyword-tag {
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 16px;
		padding: 4px 10px;
		display: flex;
		align-items: center;
		gap: 6px;
		color: var(--grey);

		.tag-count {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 12px;
			color: white;
		}
	}

	.show-all {
		color: var(--highlight-bg);
		padding: 0;
		height: auto;
		border: none;
		background: transparent;
		box-shadow: none;

		&:hover {
			background: transparent;
		}
	}
}
